[Desktop Entry]
Name[pl]=Notorious
Name=Notorious
Comment[it]=Note incentrate sulla tastiera
Comment[pl]=Notatki zarządzane klawiaturą
Comment=Keyboard centric notes
Exec=/usr/bin/notorious %u
Icon=org.gabmus.notorious
Terminal=false
Type=Application
StartupNotify=true
Categories=Office
Keywords[it]=note;notes;notorious;
Keywords[pl]=notatka;notatki;notorious;
Keywords=note;notes;notorious;
